.viewWrapperPortfolio
	background-color: #f1f1f1
	color: black
	border-radius: 10px 10px 0 0
	padding: 20px
	box-shadow: 0 0 10px #fff
	min-height: 500px
	
	h3
		text-align: center
		padding: 20px
	
	&__item
		.description
			margin: 0 0 50px
		.date
			font-size: 12px
			font-style: italic
			text-align: right
		.technology
			font-style: italic
		
		.BtnLoad
			display: inline-block
			margin-top: 50px
			cursor: pointer
			padding: 7px 15px
			border-radius: 7px
			background-color: #a8a8a8
			text-align: center
			color: white
			text-decoration: none
			
			&:hover
				background-color: rgba(15, 255, 40, 0.9)
		
		&--img
			position: relative
			overflow-y: scroll
			max-width: 600px
			max-height: 700px
			float: left
			margin: 0 10px 20px
			transform: rotateY(14deg) rotateX(14deg)
			box-shadow: -10px 10px 30px #141414
			
			img
				width: 100%
	
	p
		margin: 10px
	
	.clearfix
		clear: both
		
@media screen and (max-width: 1100px)
	.viewWrapperPortfolio__item--img
		float: none
		margin: 0 auto
		
@media screen and (max-width: 550px)
	.viewWrapperPortfolio__item--img
		transform: none
		overflow-y: visible
		max-width: 100%
		max-height: 100%
	
	
		

		
		