ul
	margin-bottom: 50px
	margin-left: 10px
	li
		list-style: none
		margin: 40px 0
		transition: transform 0.3s linear
		&:hover
			text-shadow: 0 0 10px #fff
		a
			text-decoration: none
			color: white
			font-size: 20px
			font-weight: 300
			letter-spacing: 2px
			transition: all 0.3s linear
			
.navActive
	text-shadow: 0 0 10px #fff
	padding-left: 20px
	
			
			